.space {
  position: relative;
  margin: -5px 0 -5px;
  &__img {
    width: 100%;
  }
  &__alt{
    width: 100%;
    display: none;
  }

  &__listen {
    position: absolute;
    top: 20px;
    left: 350px;
    font-size: 65px;
    color: #cdb6a7;

  }

  &__system {
    position: absolute;
    top: 120px;
    left: 550px;
    font-size: 30px;
    color: #cdb6a7;
  }

  &__relax {
    position: absolute;
    top: 800px;
    left: 820px;
    font-size: 25px;
    width: 600px;
    text-align: right;
    color: #d2cdca;
  }
  &__video{
    margin-top: -10px;
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .space__relax {
    left: 765px;
  }

}
@media (max-width: 1200px) {
  .space__listen {
    left: 185px;
  }
  .space__system {
    position: absolute;
    top: 120px;
    left: 375px;
    font-size: 30px;
    color: #cdb6a7;
  }
  .space__relax {
    left: 570px;
    top: 665px;
  }
}
@media (max-width: 1140px) {
  .space__relax {
    left: 500px;
    top: 600px;
  }
}
@media (max-width: 1024px) {
  .space__listen {
    left: 105px;
  }
  .space__system {
    left: 290px;
  }
  .space__relax {
    left: 395px;
    top: 555px;
  }
}
@media (max-width: 992px) {
  .space__relax {
    left: 371px;
    top: 535px;
  }
}
@media (max-width: 768px) {
  .space__listen {
    left: 70px;
    font-size: 50px;
    top: 0;
  }
  .space__system {
    left: 160px;
    top: 75px;
  }
  .space__relax {
    left: 302px;
    top: 406px;
    font-size: 15px;
    width: 390px;
  }
}
@media (max-width: 576px) {
  .space__img{
    display: none;
  }
  .space__alt{
    display:block;
  }
  .space__listen {
    left: 28px;
    font-size: 50px;
    top: 30px;
    text-align: center;
  }
  .space__system {
    left: 110px;
    top: 150px;
    font-size: 25px;
  }
  .space__relax {
    left: 80px;
    top: 870px;
    font-size: 25px;
    width: 445px;
    text-align: center;
  }
}
@media (max-width: 451px) {
  .space__listen {
    left: 5px;
    font-size: 50px;
    top: 30px;
    text-align: center;
  }
  .space__system {
    left: 35px;
    top: 150px;
    font-size: 25px;
  }
  .space__relax {
    left: 56px;
    top: 689px;
    font-size: 20px;
    width: 345px;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .space__system {
    left: 26px;
    top: 155px;
    font-size: 22px;
  }
  .space__relax {
    left: 36px;
    top: 627px;
    font-size: 20px;
    width: 345px;
    text-align: center;
  }
}
@media (max-width: 380px) {
  .space__listen {
    left: 0;
    font-size: 47px;
  }
  .space__relax {
     left: 17px;
    top: 599px;
    font-size: 16px;
    width: 345px;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .space__relax {
    left: 5px;
    top: 599px;
    font-size: 16px;
    width: 345px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .space__listen {
    left: -5px;
    font-size: 35px;
  }
  .space__system {
    left: 19px;
    top: 141px;
    font-size: 19px;
  }
  .space__relax {
    left: 21px;
    top: 494px;
    font-size: 13px;
    width: 245px;
    text-align: center;
  }
}